@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hwb(212 84% 6%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 360px;

  text-align: center;
  border-radius: 14px;
}

.img--holder {
  margin: 14px;
  border-radius: 14px;
}

.img--holder img {
  height: 100%;
  width: 100%;
  border-radius: 14px;
}

/* heading 2 */
.content {
  text-align: center;
  padding: 0 24px 24px 24px;
}

.content h2 {
  font-weight: 700;
  margin-bottom: 14px;
  color: hsl(218, 44%, 22%);
}

.content p {
  margin: 0 auto;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  width: 250px;
}

.attribution {
  margin-bottom: 12px;
}
